h3{ text-transform: uppercase;}
p{
font-family: Arial, Helvetica, sans-serif;
}
body{
background-color: rgb(255, 220, 251);
}
 a{
    font-size: 16; font-style:italic;
}

.header{
    border-style:solid;
    background-image:url(https://www.pngall.com/home-interior-design-png/download/50353/);
}
.content{
    height:80%;
    width:70%;
    background-image:url(https://www.pngall.com/home-interior-design-png/download/50353/);
}
.footer{
    background-image:url(https://www.pngall.com/home-interior-design-png/download/50353/);
}