h1{
    color: rgb(255, 0, 102);
}
h2{
    color:rgb(0, 255, 247) ;
}
body{
    background-image: url(imgs/pexels-goumbik-1352296.jpg);
background-size: 1920px 1080px;}

    section{
        background-color: rgb(244, 179, 157,0.5)}
    