.header{
    color: rgb(177, 94, 255);
    font-style: initial;
    position: relative;
    left: 350px;
    top:30px
}
html{
    background-color: rgb(255, 184, 255);
}
h2{
    font-style: oblique;
    color:rgb(255, 0, 136)
}
.footer{
    
    margin: 50px;
padding: 10px}
.pink{
    position: relative;
    left: 20px;
    top:30px;}

h3{
    font-style: normal;
    color:rgb(190, 63, 216)
}
.list{
    position: absolute;
    left:800px;
    top:20px;
}
.halloween{
    position: absolute;
    left:700px;
    top:230px;
}

    
    .container {
        position: relative;
        width: 50%;
      }
      
      .image {
        display: block;
        width: 450px;
        height: 300px;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height:0%;
        width: 50%;
        opacity: 0;
        transition: .5s ease;
        background-color: #16b5eb;
      }
      
      .container:hover .overlay {
        opacity: 1;
      }
      
      .text {
        color: rgb(119, 0, 255);
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align:right;
      }
     
     .work{
        position: relative;
        left:1000px;
        top:50px
     }
    