body{background-color: aqua
    ;}
    p{
        margin: 40px;
        margin-right: 40px;
        margin-left: 40px;
        padding: 10px;
        background-color: rebeccapurple;
        border: 10px solid black;
        color: chartreuse;
    }
    div{
        margin: 20px;
        border: 10px solid pink;
    }